*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
}
a{
    text-decoration: none;
}

body::before {
    content:'';
    background:rgba(0, 0, 0, 0.579);
    width:100%;
    height:100%;
    position:absolute;
    left:0px;
    top:0px;
    z-index:-1;
   }

body{
    font-family: 'Roboto', sans-serif;
    background:url("images/ship.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: scroll;
    background-size: cover;
    position: relative;
}

.blackLayer{

    width:100%;
    height:100%;
    background-color:#000;
    opacity:0.5;
  
  }
nav{
    height: 50px;
    width: 100%;
    padding: 20px 0;
}
/* .container{
    width: 1200px;
    max-width: 85%;
    margin: 0 auto;
} */
nav ul{
    display: flex;
    justify-content: flex-start;
    margin: 0px 6px;
}
nav ul li a{
    color: #fff;
    padding: 10px;
    text-transform: uppercase;
    text-decoration: none;
    margin-left: 30px;
}
nav ul li a:hover, a.active{
    background-color: #dc3545;
    border-radius: 5px;
    color: black;
}
.main-content{
    display: grid;
    grid-template-columns: 2fr 3fr;
    gap: 2em;
    align-items: center;
}
.booking-content{
    color: #fff;
    width: 100%;
    float: left;
    margin-left: 1em;
}
.booking-content h1{
    font-size: 70px;
    text-transform: uppercase;
    font-family: 'Bebas Neue', cursive;
    font-weight: 500;
}
.inp-style {
    border-radius: 50%;
}
.booking-form{
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 15px;
    float: right;
    width: 65%;
    margin-left: 180px;
    overflow: hidden;
}
.booking-form h3{
    margin: 10px 0px;
}
.booking-form  .input-group{
    margin: 10px 0;
    border-radius: 15px;
}
.booking-form  .calculations{
    margin: 10px 0;
}
.booking-form  .calculations p{
    font-weight: 500;
    margin-bottom: 10px;
}
.booking-form input{
    width: 100%;
    display: block;
    padding: 10px;
    border: none;
    background: #F3F5FF;
    border-radius: 15px;
    margin: 10px 0;
}
.f-class{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.inp-width{
    min-width: 300px;
}
.plus-minus-btn{
    margin: 18px 5px 0px 0px;
}
.booking-form .inputs{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}
.btn-style{
    display: block;
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: none;
    color: #fff;
    font-weight: 500;
    background-color:  #dc3545;
}
.amount{
    display: flex;
    justify-content: space-between;
}
#firstClass-plusBtn, #firstClass-minusBtn, #economyClass-minusBtn, #economyClass-plusBtn{
    font-size: 1.5em;
    color: black;
    background-color:  #dc3545;
    border-radius: 10px;
    margin: 0 5px;
}

@media only screen and (max-width: 800px) {
    nav ul{
        display: flex;
        padding: 0px;
        margin: 0px;
        justify-content: center;
        align-items: center;
    }
    nav ul li a{
        padding: 5px;
        margin: 8px;
    }
    .booking-form{
        position: relative;
        width: 100%;
        z-index: 3;
        bottom: 0px;
        margin: 0px;
        overflow: hidden;
    }
    .main-content{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 50vh;
        column-gap: 0px;
        justify-items: center;
    }
    .booking-content{
        margin: 0 auto;
    }
    .booking-content h1{
        text-align: center;
    }
  }

  footer p, footer a {
      color: rgb(255, 255, 255);
      font-weight: 500;
  }
